<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-893SDVT4YW"></script>
<script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-893SDVT4YW');</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5NMWPW33');</script>
  <!-- End Google Tag Manager -->
  <title>Get Kinder | The 5-Minute AI Kindness Hack for Happiness & Connection</title>
  <meta name="description" content="Discover Get Kinder, your AI-powered kindness coach. Build deeper connections, spread joy, and improve wellbeing with daily 5-minute acts of kindness.">
  <meta name="keywords" content="Get Kinder, AI kindness coach, daily acts of kindness, happiness, connection, wellbeing, UN Sustainable Development Goals, volunteering near me">
  <meta name="author" content="Get Kindr Foundation">
  <meta name="robots" content="index, follow">

  <meta property="og:title" content="Get Kinder | The 5-Minute AI Kindness Hack for Happiness & Connection">
  <meta property="og:description" content="Discover Get Kinder, your AI-powered kindness coach. Build deeper connections, spread joy, and improve wellbeing with daily 5-minute acts of kindness.">
  <meta property="og:url" content="https://getkinder.ai/">
  <meta property="og:type" content="website">

  <link rel="icon" href="/images/favicon.png" sizes="32x32" type="image/png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/style.css">

</head>

<body class="profile-body">
 <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5NMWPW33"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <section id="title"> 
    <body class="gradient-background">  
<%- include("partials/site-header", { currentPage: "other" }) %>
    <div class="container mt-5 pt-5 login-signin-offset register-signin-offset">
      <div class="row align-items-center">
    <!-- Login Form Left -->
    <div class="col-lg-6">
      					<div class="login_wrapper">
                  		<div class="container">
							<div class="row">
							<!-- login_wrapper <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
									<a href="#" class="btn btn-primary btn-lgr"> <span>Login with Facebook</span> <i class="fa fa-facebook"></i> </a>
								</div> -->	
                <div class="col-12">
                  <div class="d-flex justify-content-center">
                   <a href="/auth/google" class="btn btn-primary google-plus w-100">
                      <img src="./images/google.png" alt="Google logo"><span class="d-inline d-sm-none" style="color: #000;">Sign in</span>
    <span class="d-none d-sm-inline" style="color: #000;">Sign in with Google</span>
                    </a>
                  </div>
                </div>
							</div>
							<h2>or</h2>
<form action="/register" method="POST">
  <div class="form-group">
    <input type="text" name="firstname" class="form-control" required placeholder="First Name *">
  </div>
  <div class="form-group mt-3">
    <input type="text" name="lastname" class="form-control" required placeholder="Last Name *">
  </div>
  <div class="form-group mt-3">
    <input type="email" name="email" class="form-control" required placeholder="Email Address *">
  </div>
  <div class="form-group mt-3">
    <input type="password" name="password" class="form-control" required placeholder="Password *">
  </div>
  <div class="login_btn_wrapper mt-4">
     <!--  <button type="submit" class="btn btn-primary login_btn">Register</button> -->
    <button type="submit" class="btn btn-primary w-100">Register</button>

  </div>
</form>
							<div class="login_message">
								<p>Already have an account ? <a href="login"> Log in </a> </p>
							</div>
						</div>
						<!-- /.login_wrapper-->
					</div>
				</div>
        <!-- Image Right -->
        <div class="col-lg-6 text-center">
          <img src="./images/kai-real.png" class="img-fluid" alt="KAI the AI coach" height="100px; width: auto;" loading="lazy">
        </div>
		</div>
    </div>
  <!-- Footer section needs a logo to the far left -->
  <section id="contact">
    <div class="container">
      <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 mt-5 border-top">
        <div class="col mb-3">
          <div class="col mb-3">
                 <a href="#">
                  <img src="./images/heart3D.png" alt="Get Kinder Heart" height="150">
                 </a>
              </div>
            <p class="text-body-secondary" style="color: #455a7c;">© Get Kindr Foundation </p>
        </div>
        <div class="col mb-3">
        </div>
  </section>
  <script>
  // Clear form inputs after successful registration
  if (window.location.search.includes("success=1")) {
    const form = document.querySelector("form");
    if (form) {
      form.reset(); // Clears all inputs
    }
  }
</script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> 
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script> 
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js-na3.hs-scripts.com/342094649.js"></script>
<!-- End of HubSpot Embed Code -->
</body>

</html>
